<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<title>Blog</title>
	{% load static %}
	<meta charset="utf-8">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<!--[if IE 6]>
		<link href="{% static 'css/ie6.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
	<!--[if IE 7]>
	<link href="{% static 'css/ie7.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
</head>
<body>
	<div id="page">
		<div id="sidebar"> <a href="/"><img id="logo" src="{% static 'images/logo.gif' %}" width="171" height="239" alt=""></a>
			<h2>FLAVOR OF THE DAY</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/strawberry-delight.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Strawberry Delight</a></h3>
				</li>
			</ul>
			<h2>POPULAR FLAVORS</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/tropical-mango.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Tropical Mango</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/rich-chocolate.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Rich Chocolate</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/sour-rasberry.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Sour Rasberry</a></h3>
				</li>
			</ul>
		</div>
		<div id="content"> 
			<!-- start of header -->
			<div id="header">
				<ul class="navigation">
					<li>
						<a href="/about">About Us</a>
					</li>
					<li>
						<a href="/flavors">Flavors</a>
					</li>
					<li>
						<a href="/dessert">Dessert Recipes</a>
					</li>
					<li>
						<a class="active" href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
				</ul>
			</div>
			<!-- end of header --> 
			<!-- start of class content -->
			<div class="content"> 
				<!-- start inner page content box background -->
				<div class="header">
					<div class="footer">
						<div class="body">
							<ul class="section">
								<li class="first">
									<ul>
										<li class="border">
											<a href="/blog"><img src="{% static 'images/girl-eating-ice-cream.jpg' %}" width="426" height="344" alt=""></a>
											<p>
												Health means different things to different people, however. For some, it is more about cutting calories, so they are seeking to reduce sugar or fat, while others want more added-value benefits such as containing high levels of particular nutrients, for instance calcium. Case in point, growth in lower sugar and sugar-free products and low-calorie options has also been observed by ICA.
Additionally, another health trend gaining traction in ice cream is the demand for lactose-free frozen desserts. This is driven by a combination of the side effects of lactose intolerance and a growing movement towards cleaner eating among Millennials which has led many consumers to view dairy products as unhealthy. The elevated growth hormones that are often found in factory farmed dairy cows are disconcerting to health-conscious customers who prefer to get their calcium and vitamin D requirements from fortified, plant-based sources.
											</p>
										</li>
										<li>

											<a href="/blog"><img src="{% static 'images/strawberry.jpg' %}" width="426" height="344" alt=""></a>
											<p>
												As the industry is highly dependent on consumer preferences, I believe ice cream market players will be driven to continue to tap the latest health trends to stay ahead of the game. For example, in the foreseeable future I expect that more and more companies will start incorporating things like CBD or oat milk into products, as well as become more open to embrace transparency and traceability.
											</p>
										</li>
									</ul>
								</li>
								<li class="last">
									<h2>Recent Blog Posts</h2>
									<ul>
										<li>
											<a href="#">Nam Tellus Purus</a>
										</li>
										<li>
											<a href="#">Congue at Justo</a>
										</li>
										<li>
											<a href="#">Mauris Dignissim Velit</a>
										</li>
										<li>
											<a href="#">Mauris Eleifend Tempus</a>
										</li>
										<li>
											<a href="#">Erat Hendrerit</a>
										</li>
									</ul>
									<h2>Categories</h2>
									<ul>
										<li>
											<a href="#">Mauris</a>
										</li>
										<li>
											<a href="#">Eleifend tempus</a>
										</li>
										<li>
											<a href="#">Erat hendrerit</a>
										</li>
										<li>
											<a href="#">Vestibulum</a>
										</li>
										<li>
											<a href="#">Aliquam risus</a>
										</li>
										<li>
											<a href="#">Sem</a>
										</li>
										<li>
											<a href="#">Tempor in</a>
										</li>
										<li>
											<a href="#">Rutrum vitae</a>
										</li>
										<li>
											<a href="#">Vulputate ut lectus</a>
										</li>
										<li>
											<a href="#">Pellentesque</a>
										</li>
									</ul>

								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end inner page content box background --> 
			</div>
			<!-- end of class content -->
			<div id="footer">
				<span>All Rights Reserved </span>
			</div>
		</div>
		<!-- end of ID content--> 
	</div>
</body>
</html>