<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    {% load static %}
	<title> Contact Us </title>
	<meta charset="utf-8">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<!--[if IE 6]>
		<link href="{% static 'css/ie6.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
	<!--[if IE 7]>
	<link href="{% static 'css/ie7.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
</head>
<body>
<div id="page">
		<div id="sidebar"> <a href="/"><img id="logo" src="{% static 'images/logo.gif' %}" width="171" height="239" alt=""></a>
			<h2>FLAVOR OF THE DAY</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/strawberry-delight.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Strawberry Delight</a></h3>
				</li>
			</ul>
			<h2>POPULAR FLAVORS</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/tropical-mango.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Tropical Mango</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/rich-chocolate.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Rich Chocolate</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/sour-rasberry.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Sour Rasberry</a></h3>
				</li>
			</ul>
		</div>
		<div id="content">
			<!-- start of header -->
			<div id="header">
				<ul class="navigation">
					<li>
						<a href="/about">About Us</a>
					</li>
					<li>
						<a href="/flavors">Flavors</a>
					</li>
					<li>
						<a href="/dessert">Dessert Recipes</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
				</ul>
			</div>

			<!-- end of header -->
			<!-- start of class content -->
			<div class="content">
				<!-- start inner page content box background -->
				<div class="header">
					<div class="footer">
						<div class="body"><!-- start of body -->
							<h1>Contact Us</h1>
							<ul class="connect">
								<li>
									<h2 class="phone">Call Us</h2>
									<span>755-811-4255</span><span>9am - 5pm CST Monday - Friday</span>
								</li>
								<li>
									<h2 class="email">Email Us</h2>
									<span><a href="mailto:info@icecream.com">info@icecream.com</a></span>
								</li>
								<li>
									<h2 class="home">Visit Us</h2>
									<span>Ambawadi, Ahmedabad</span>
								</li>
							</ul>
							<h1>Send Us a Quick Message</h1>
							<form method="post" action="/contact">
								{% csrf_token %}
								<ul class="contact">
									<li class="first">
										<label>First Name</label>
										<input type="text" name="f_name">

										<label>Email Address</label>
                                        					<input type="email" name="email">

                                        					<label>Phone Number</label>
										<input type="text" name="phone">

									</li>
									<li class="last">
										<label>Message</label>
										<textarea name="message"></textarea>
										<input type="submit" value="">
									</li>
								</ul>
							</form>
						</div>
						<!-- end of body -->
					</div>
				</div>
				<!-- end inner page content box background -->
			</div>
			<!-- end of class content -->
			<div id="footer">
				<span>All Rights Reserved</span>
			</div>
		</div>
		<!-- end of ID content-->
	</div>
</body>
</html>