<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	{% load static %}
	<title> Dessert Recipes </title>
	<meta charset="utf-8">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<!--[if IE 6]>
		<link href="{% static 'css/ie6.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
	<!--[if IE 7]>
	<link href="{% static 'css/ie7.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
</head>
<body>
	<div id="page">
		<div id="sidebar"> <a href="/"><img id="logo" src="{% static 'images/logo.gif' %}" width="171" height="239" alt=""></a>
			<h2>FLAVOR OF THE DAY</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/strawberry-delight.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Strawberry Delight</a></h3>
				</li>
			</ul>
			<h2>POPULAR FLAVORS</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/tropical-mango.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Tropical Mango</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/rich-chocolate.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Rich Chocolate</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/sour-rasberry.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Sour Rasberry</a></h3>
				</li>
			</ul>
		</div>
		<div id="content"> 
			<!-- start of header -->
			<div id="header">
				<ul class="navigation">
					<li>
						<a href="/about">About Us</a>
					</li>
					<li>
						<a href="/flavors">Flavors</a>
					</li>
					<li>
						<a class="active" href="/dessert">Dessert Recipes</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
				</ul>
			</div>
			<!-- end of header --> 
			<!-- start of class content -->
			<div class="content"> 
				<!-- start inner page content box background -->
				<div class="header">
					<div class="footer">
						<div class="body"><!-- start of body -->
							<h1>Recipes</h1>
							<div class="news"><img src="{% static 'images/ice-cream-cookie-sandwich.jpg' %}" width="308" height="308" alt="Frosty Sweet" title="Frosty Sweet"/>
								<h1>Ice Cream Cookie Sandwich</h1>
								<h2>Ingredients:</h2>
								<ul class="ingrdients">
									<li>
										2¼ cups (280g) flour
									</li>
									<li>
										1 teaspoon baking soda
									</li>
									<li>
										1 teaspoon salt
									</li>
									<li>
										1 cup (230g) butter, softened
									</li>
									<li>
										1/2 cup (100g) white sugar
									</li>
									<li>
										1 cup (200g) brown sugar
									</li>
									<li>
										2 eggs
									</li>
									<li>
										1½ teaspoons vanilla extract
									</li>
									<li>
										1 cup (175g) chocolate chips
									</li>
									<li>
										1 cup (160g) Candy-coated Chocolates Ice cream of your choice
									</li>

								</ul>
								<h2>Directions:</h2>
								<ul class="ingrdients">
									<li>
										1. Preheat oven to 350F (175C).
									</li>
									<li>
										2. In a bowl whisk flour, baking soda and salt. Set aside.
									</li>
									<li>
										3. In a large bowl cream the butter with sugars until light and fluffy. Add eggs, vanilla extract and stir until combined.
									</li>
									<li>
										4. stir in the flour mixture. stir just until incorporated. Divide into two equal portions. To first part add chocolate chips, to the second add candy-coated Chocolates and stir. This step is optional, you can use only chocolate chips, or only Candy-coated Chocolates. Refrigerate for 30 minutes.
									</li>
									<li>
										5. Roll balls of dough and place 2 inches (5cm) apart on the baking sheet. Bake for 10-12 minutes or until very lightly browned on the sides. Let cool completely.
									</li>
									<li>
										6. Take a large scoop of ice cream and sandwich it between two cookies. Roll the sides with your favorite topping.
									</li>
									<li>
										7. Freeze until serving.
									</li>
								</ul>
							</div>
							<div class="news last"><img src="{% static 'images/wafer-ice-cream-delight.jpg' %}" width="308" height="308" alt="Frosty Sweet" title="Frosty Sweet"/>
								<h1>Wafer Ice Cream Delight</h1>
								<h2>Ingredients:</h2>
								<ul class="ingrdients">
									<li>
										5 (1 oz each) pkg Hy-Vee peanut butter nutty wafers
									</li>
									<li>
										3 c. Hy-Vee vanilla ice cream, softened
									</li>
									<li>
										1/2 c. Skippy creamy peanut butter
									</li>
									<li>
										1 tsp. Hy-Vee vanilla
									</li>
								</ul>
								<h2>Directions:</h2>
								<ul class="ingrdients">
									<li>
										1. Break nutty wafers in half lengthwise. Set the top halves aside.
									</li>
									<li>
										2. Line an 8-by-8-inch pan with the bottom halves of the nutty wafers.
									</li>
									<li>
										3. Combine the ice cream, peanut butter, and vanilla in a medium mixing bowl. Mix well.
									</li>
									<li>
										4. Spread the ice cream mixture evenly over the nutty wafers. Top with remaining nutty wafers.
									</li>
									<li>
										5. Cover and freeze at least 4 hours or overnight.
									</li>
								</ul>
							</div>
						</div>
						<!-- end of body --> 
					</div>
				</div>
				<!-- end inner page content box background --> 
			</div>
			<!-- end of class content -->
			<div id="footer">
				<span>All Rights Reserved </span>
			</div>
		</div>
		<!-- end of ID content--> 
	</div>
</body>
</html>