<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	{% load static %}
	<title> Flavors </title>
	<meta charset="utf-8">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<!--[if IE 6]>
		<link href="{% static 'css/ie6.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
	<!--[if IE 7]>
	<link href="{% static 'css/ie7.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
</head>
<body>
	<div id="page">
		<div id="sidebar"> <a href="/"><img id="logo" src="{% static 'images/logo.gif' %}" width="171" height="239" alt=""></a>
			<h2>FLAVOR OF THE DAY</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/strawberry-delight.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Strawberry Delight</a></h3>
				</li>
			</ul>
			<h2>POPULAR FLAVORS</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/tropical-mango.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Tropical Mango</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/rich-chocolate.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Rich Chocolate</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/sour-rasberry.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Sour Rasberry</a></h3>
				</li>
			</ul>
		</div>
		<div id="content"> 
			<!-- start of header -->
			<div id="header">
				<ul class="navigation">
					<li>
						<a href="/about">About Us</a>
					</li>
					<li>
						<a class="active" href="/flavors">Flavors</a>
					</li>
					<li>
						<a href="/dessert">Dessert Recipes</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
				</ul>
			</div>
			<!-- end of header --> 
			<!-- start of class content -->
			<div class="content"> 
				<!-- start inner page content box background -->
				<div class="header">
					<div class="footer">
						<div class="body">
							<h1>Choose Your Flavors</h1>
							<div class="section">
								<ul class="flavors">
									<li>
										<img src="{% static 'images/strawberry-delight.jpg' %}" width="130" height="130" alt="" title="">
										<h2>Strawberry Delight</h2>
									</li>
									<li>
										<img src="{% static 'images/ube-adventure.jpg' %}" width="130" height="130" alt="" title="">
										<h2>Ube Adventure</h2>
									</li>
									<li>
										<img src="{% static 'images/sweet-cheese.jpg' %}" width="130" height="130" alt="" title="">
										<h2>Sweet Cheese</h2>
									</li>
									<li>
										<img src="{% static 'images/bubblegum-bomb.jpg' %}" width="130" height="130" alt="" title="">
										<h2>Bubblegum Bomb</h2>
									</li>
									<li>
										<img src="{% static 'images/blueberry-explosion.jpg' %}" width="130" height="130" alt="" title="">
										<h2>Blueberry Explosion</h2>
									</li>
									<li>
										<img src="{% static 'images/coconut-pleasure.jpg' %}" width="130" height="130" alt="" title="">
										<h2>Coconut Pleasure</h2>
									</li>
									<li>
										<img src="{% static 'images/pistachio-craze.jpg' %}" width="130" height="130" alt="" title="">
										<h2>Pistachio Craze</h2>
									</li>
									<li>
										<img src="{% static 'images/citrus-love.jpg' %}" width="130" height="130" alt="" title="">
										<h2>Citrus Love</h2>
									</li>
								</ul>
							</div>
							<div class="section">
								<h2>Check the Price for individual</h2>
								<!-- start of orders -->
								<div id="orders">
									<h2>&nbsp;</h2>
									<div>
										<table>
											<tr>
												<td><a href="#">&nbsp;</a></td>
												<td>Strawberry Delight</td>
												<td class="last">Rs. 250</td>
											</tr>
											<tr>
												<td><a href="#">&nbsp;</a></td>
												<td>Ube Adventure</td>
												<td class="last">Rs. 300</td>
											</tr>
											<tr>
												<td><a href="#">&nbsp;</a></td>
												<td>Sweet Cheese</td>
												<td class="last">Rs. 150</td>
											</tr>
											<tr>
												<td><a href="#">&nbsp;</a></td>
												<td>Bubblegum Bomb</td>
												<td class="last">Rs. 200</td>
											</tr>
										</table>
										</table>
									</div>
								</div>

								<div class="section">
								<h2>Check the Price for the combo pack</h2>
								<!-- start of orders -->
								<div id="orders">
									<h2>&nbsp;</h2>
									<div>
										<table>
											<tr>
												<td><a href="#">&nbsp;</a></td>
												<td>Strawberry Delight - Coconut Pleasure</td>
												<td class="last">Rs. 450</td>
											</tr>
											<tr>
												<td><a href="#">&nbsp;</a></td>
												<td>Sweet Cheese - Citrus Love</td>
												<td class="last">Rs. 350</td>
											</tr>
											<tr>
												<td><a href="#">&nbsp;</a></td>
												<td>Bubblegum Bomb - Pistachio Craze</td>
												<td class="last">Rs. 300</td>
											</tr>
										</table>
										</table>
									</div>
								</div>

								<!-- end of orders -->

							<form method="post" action="/flavors">
								<!-- start of section -->
								{% csrf_token %}
								<div class="section"> 
									<!-- start of delivery -->
									<div class="delivery">
										<h2>Delivery Information</h2>
										<table>
											<tr>
												<td><label><span>Name</span>
														<input type="text" name="name">
													</label></td>
												<td><label><span>Address</span>
														<input type="text" name="address">
													</label></td>
											</tr>
											<tr>
												<td><label><span>Contact Number</span>
														<input type="text" name="phone">
													</label></td>
												<td><label><span>City</span>
														<input type="text" name="city">
													</label>
												</td>
											</tr>
											<tr>
												<td><label><span>Email Address</span>
														<input type="text" name="email">
													</label></td>
												<td><label><span>Flavour</span>
														<input type="text" name="flavour">
													</label></td>
											</tr>
										</table>
									</div>
									<!-- end of delivery -->
									<div class="payment">
										<h2>Extra Toppings</h2>
											<div id="orders">
												<h2>&nbsp;</h2>
										<div>
											<table>
												<tr>
													<td>Cheese</td>
													<td>Rs. 50</td>
												</tr>
												<tr>
													<td>Choco</td>
													<td>Rs. 70</td>
												</tr>
												<tr>
													<td>Fruits</td>
													<td>Rs. 80</td>
												</tr>
											</table>
										</div>
								</div>
									</div>
								</div>
								<!-- end of section -->
								<div id="connect">
									<input type="submit" value="">
								</div>
							</form>
						</div>
					</div>
					<!-- end of footer--> 
				</div>
				<!-- end inner page content box background --> 
			</div>
			<!-- end of class content -->
			<div id="footer">
				<span>All Rights Reserved </span>
			</div>
		</div>
		<!-- end of ID content--> 
	</div>
</body>
</html>