<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	{% load static %}
	<title> Home </title>
	<meta charset="utf-8">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<!--[if IE 6]>
		<link href="{% static 'css/ie6.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
	<!--[if IE 7]>
	<link href="{% static 'css/ie7.css' %}" rel="stylesheet" type="text/css">
	<![endif]-->
</head>
<body>
	<div id="page">
		<div id="sidebar"> <a href="/"><img id="logo" src="{% static 'images/logo.gif' %}" width="171" height="239" alt=""></a>
			<h2>FLAVOR OF THE DAY</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/strawberry-delight.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Strawberry Delight</a></h3>
				</li>
			</ul>
			<h2>POPULAR FLAVORS</h2>
			<ul>
				<li>
					<a href="/flavors"><img src="{% static 'images/tropical-mango.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Tropical Mango</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/rich-chocolate.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Rich Chocolate</a></h3>
				</li>
				<li>
					<a href="/flavors"><img src="{% static 'images/sour-rasberry.gif' %}" width="165" height="165" alt=""></a>
					<h3><a href="/flavors">Sour Rasberry</a></h3>
				</li>
			</ul>
		</div>
		<div id="content">
			<!-- start of header -->
			<div id="header">
				<ul class="navigation">
					<li>
						<a href="/about">About Us</a>
					</li>
					<li>
						<a href="/flavors">Flavors</a>
					</li>
					<li>
						<a href="/dessert">Dessert Recipes</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
				</ul>
			</div>
			<!-- end of header -->
			<!-- start of class content -->
			<div class="content">
				<!-- start of slider-->
				<div class="slider">
					<ul>
						<li>
							<a href="/flavors"><img src="{% static 'images/fruit-toppings.gif' %}" width="680" height="200" alt="Frosty Sweet" title="Frosty Sweet"></a>
						</li>
					</ul>
					<div class="footer">
						<ul>
							<li>
								<a href="/flavors"><img src="{% static 'images/button-slider1.gif' %}" width="24" height="24" alt="Frosty Sweet" title="Frosty Sweet"></a>
							</li>
							<li>
								<a href="/flavors"><img src="{% static 'images/button-slider2.gif' %}" width="24" height="24" alt="Frosty Sweet" title="Frosty Sweet"></a>
							</li>
							<li>
								<a href="/flavors"><img src="{% static 'images/button-slider3.gif' %}" width="24" height="24" alt="Frosty Sweet" title="Frosty Sweet"></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- end of slider -->
				<!-- start of featured-->
				<div class="featured">
					<ul>
						<li>
							<a href="/flavors"><img src="{% static 'images/free-ice-cream-sampling.jpg' %}" width="340" height="167" alt="Frosty Sweet" title="Frosty Sweet"></a>
							<h2><a href="/flavors">Free Ice Cream Sampling</a></h2>
						</li>
						<li>
							<a href="/flavors"><img src="{% static 'images/ice-cream-for-occasions.jpg' %}" width="340" height="167" alt="Frosty Sweet" title="Frosty Sweet"></a>
							<h2><a href="/flavors">Ice Cream For Every Occasion</a></h2>
						</li>
						<li>
							<a href="/flavors"><img src="{% static 'images/fat-free-ice-cream.jpg' %}" width="340" height="167" alt="Frosty Sweet" title="Frosty Sweet"></a>
							<h2><a href="/flavors">Fat Free Ice Cream</a></h2>
						</li>
						<li>
							<a href="/flavors"><img src="{% static 'images/ice-cream-recipes.jpg' %}" width="340" height="167" alt="Frosty Sweet" title="Frosty Sweet"></a>
							<h2><a href="/flavors">Ice Cream Recipes</a></h2>
						</li>
					</ul>
				</div>
				<!-- end of featured-->
				<!-- start of section-->
				<div class="section">
					<div class="about">
						<h2><a href="/">What makes us different?</a></h2>
						<p>
							We’re hitched and eat plentiful measures of frozen yogurt. We’d cheerfully have a scoop for breakfast, lunch and supper on the off chance that we could. Owner’s family has been in the frozen yogurt business for more than 35 years yet it’s dependably been our fantasy to have our very own position: a shop where we could make natively constructed dessert with just the most noteworthy quality fixings.
						</p>
						<p>
							The imperative piece: the frozen yogurt and sorbets Our frozen yogurt and sorbets are for the most part carefully assembled in store. Our dessert is purified, whisked, poured, beat and solidified with affection and care. Each bunch is submitted to our extremely strict quality control test. Truly, we do imply that we sneak a taste each and every time.								To ensure you get just the well done with each and every lick, we’re focused on utilizing the best fixings. That incorporates unicorn tears, cloud giggling and vanilla… well that is not so much evident, we don’t generally utilize vanilla.

						</p>

					</div>
					<div class="connect"><a href="/"><img src="{% static 'images/sign-board.gif' %}" width="234" height="222" alt=""></a>

					</div>
				</div>
				<!-- end of section-->
				<!-- start of article comment-->
				<div class="section">
					<h2>Sweet words from our clients</h2>
					<div class="comment">
						<p>
							Your ice-creams are solution of our midnight craving !!!
						</p>
				</div>
				<!-- end of article comment-->
			</div>
			<!-- end of class content -->
			<div id="footer">
				<span> All Rights Reserved </span>
			</div>
		</div>
		<!-- end of ID content-->
	</div>
</body>
</html>